<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @fotosrespostum.descricao %>
</p>


<%= link_to 'Edit', edit_fotosrespostum_path(@fotosrespostum) %> |
<%= link_to 'Back', fotosresposta_path %>
