
<p>
  <b>Descricao:</b>
  <%= @tipologium.descricao %>
</p>

<p>
  <b>Tipoimovel:</b>
  <%= @tipologium.tipoImovel_id %>
</p>


<%= link_to 'Edit', edit_tipologium_path(@tipologium) %> |
<%= link_to 'Back', tipologia_path %>
