<% if !current_user %>
<h2>Destaque</h2>
<%  @imovels =Imovel.find(:all,:conditions => ["estado = ? ","Destaque"])
%>          

<% @imovels.each do |imovel| %> 
    <p>
      <% imovel.documentos.each do |doc| %>
                              <% if doc.descricao == "Geral" %> 
                                    <%= link_to (image_tag doc.avatar.url, :size => "200x200") , imovel_path(imovel) %>
                                  <%end%>
                              <%end%>
    
      <%#= link_to (image_tag "#{imovel.referencia}-principal.jpg", class:"img-polaroid", :size => "200x200"), imovel_path(imovel.referencia)%>
      <%= imovel.tipoImovel%>
    </p>        
      
    </br>
     
<% end %>

<% end %>