<% if current_user %>
<h2>Destaque</h2>
<%  @imovels =Imovel.find(:all,:conditions => ["estado = ? ","Destaque"])
%>          

<% @imovels.each do |imovel| %> 
    <p>
      <%= link_to (image_tag imovel.documentos.first.avatar.url,:size => "200x200") , imovel_path(imovel) %>
    
      <%#= link_to (image_tag "#{imovel.referencia}-principal.jpg", class:"img-polaroid", :size => "200x200"), imovel_path(imovel.referencia)%>
      <%= imovel.tipoImovel%>
    </p>        
      
    </br>
     
<% end %>

<% end %>