<script type="text/javascript">
  $(function(){

    $("#myCarousel1").carousel({ interval: 5000, cycle: true });
  });
</script>


<% if !current_user %>

<fieldset>
    <legend>Destaques</legend> 


<% @imovels =Imovel.procurar("Destaque")%>          

<%@i=0%>

<div class="container-fluid">
    <div class="row-fluid">
    <div class="carousel slide vertical" id="myCarousel1">
            <div class="carousel-inner">
              <% @imovels.each do |imovel| %> 
                  
                  <%if @i%4==0%>
                     <% if @i==0%>
                        <div class="item active">
                        <%else%>
                  <div class="item">                  
                      <%end%>
                    <ul class="thumbnails">
                  <%end%>   
                      <li class="span11">
                            <div class="caption">
                              <b>
                                  <%= imovel.tipoImovel + " #{imovel.tipologia}"%>
                                </b>
                            </div>

                            <%= link_to (image_tag imovel.getImagemGeral, :size => "200x200", :alt => imovel.resumo, :title => imovel.resumo ) , imovel_path(imovel) %>
                                <%#= link_to (image_tag imovel.getImagemGeral, :size => "150x150") , imovel_path(imovel) %>
                             
                            
                        </li>
                    <%if (@i+1)%4 == 0 or  imovel.id == @imovels.last.id%>        
                      </ul>  
                    </div>
                    <%end%>
                
                <%@i=@i+1%>
                <% end %>
            </div>
            <a data-slide="next" href="#myCarousel1" class="right carousel-control">›</a>
        
        </div>
</div>
</diV>

</fieldset>

<% end %>
