<% if !current_user %>

<fieldset>
    <legend>Destaque</legend> 

<%
  @imovelOutros = Imovel.procurar(Tipologium.all.map{ |tipo| tipo.descricao} , "Destaque")
  #Imovel.where(:estatuto => "Destaque")
  #@imovelOutros =Imovel.where(:tipoImovel => ["Terreno", "Armazém", "Escritório", "Quinta", "Loja", "Ruina"])

  @i=0
%> 

<% if @imovelOutros.count > 0 %>

<div id="myCarousel3" class="carousel slide">  
  <!-- Carousel items -->  
  <div class="carousel-inner">  
    
    <% @imovelOutros.each do |imovel| %> 
      
                     <% if @i==0%>
                        <div class="item active">
                        <%else%>
                  <div class="item">                  
                      <%end%>
      <%= link_to (image_tag imovel.getImagemGeral, :size => "200x200") , imovel_path(imovel) %>
                               
      <%= imovel.tipoImovel%>
      </div>
  
    </br>
     <%@i=@i+1%>
<% end %>
      
     
  </div>  
  <!-- Carousel nav -->  
  <a class="carousel-control left" href="#myCarousel3" data-slide="prev">‹</a>  
  <a class="carousel-control right" href="#myCarousel3" data-slide="next">›</a>  
</div>

<%end%>

</fieldset>
<% end %>

