<% @imovels =Imovel.first(10)%>          

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  
<% @imovels.each do |imovel| %> 
  
    <%= link_to (image_tag imovel.documentos.first.avatar.url, class:"img-polaroid", :size => "150x150") , "/imovels/#{imovel.referencia}/detalhes" %>
          
      
      <%#= link_to (image_tag "#{imovel.referencia}-principal.jpg", title: imovel.tipoImovel, class:"gallery", :size => "150x150"), imovel_path(imovel.referencia)%>
   
    
<% end %>


</div>     
