<h1>Editing imovel</h1>

<%= render 'form' %>

<%= link_to 'Detalhes', "/imovels/#{@imovel.referencia}/detalhes", class: "btn btn-small btn-info" %> |
<%= link_to 'Voltar', imovels_path, class: "btn btn-small btn-danger" %>
