<h2>Editar Imovel</h2>

<%= render 'form' %>

<%= link_to 'Detalhes', imovel_path(@imovel), class: "btn btn-small btn-info" %> |
<%= link_to 'Voltar', imovels_path, class: "btn btn-small btn-danger" %>
